<h1>Tracks</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t('general.title') %></th>
      <th scope="col"><%= t('general.artist') %></th>
      <th scope="col"><%= t('general.released') %></th>
      <th scope="col"><%= t('general.length') %></th>
      <th scope="col"><%= t('track.view') %></th>
      <th scope="col"><%= t('track.edit') %></th>
      <th scope="col"><%= t('track.delete') %></th>
    </tr>
  </thead>
  <tbody>
    <% @tracks.each do |track| %>
    <tr id="track_<%= track.id %>">
      <th><%= track.title %></th>
      <th><%= track.artist %></th>
      <th><%= track.released %></th>
      <th><%= format("%02d", track.minutes) %>:<%= format("%02d", track.seconds) %></th>
      <th><%= link_to t('general.details'), track_path(track) %></th>
      <th><%= link_to t('general.edit'), edit_track_path(track)%></th>
      <th><%= link_to t('general.delete'), track, method: :delete, data: { confirm: 'Are you sure?' }, :remote=> true %></th>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
