<%= form_with(model: album, local: true) do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :title, class: "form-control", placeholder: t('title')%>
  </div>

  <div class="field">
    <%= form.text_field :artist, class: "form-control", placeholder: t('artist') %>
  </div>

  <div class="field">
    <%= form.label :released %>:
    <%= form.date_select :released, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
