<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>

<p>
  <strong>Released:</strong>
  <%= @album.released %>
</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Artist</th>
      <th scope="col">Released</th>
      <th scope="col">Length</th>
      <th scope="col">Avg. Rating</th>
      <th scope="col">View Reviews</th>
      <th scope="col">Edit track</th>
      <th scope="col">Delete track</th>
    </tr>
  </thead>
  <tbody>
    <% @album.tracks.each do |track| %>
    <tr id="track_<%= track.id %>">
      <th><%= track.title %></th>
      <th><%= track.artist %></th>
      <th><%= track.released %></th>
      <th><%= format("%02d", track.minutes) %>:<%= format("%02d", track.seconds) %></th>
      <th><%= avg_rating track%></th>
      <th><%= link_to 'Details', track_path(track) %></th>
      <th><%= link_to 'Edit', edit_track_path(track)%></th>
      <th><%= link_to 'Delete', track, method: :delete, data: { confirm: 'Are you sure?' }, :remote=> true %></th>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Track', new_track_path(:album_id => @album) %> |
<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
