<p>
  <strong><%= t('general.name')%>:</strong>
  <%= @review.name %>
</p>

<p>
  <strong><%= t('general.description') %>:</strong>
  <%= @review.description %>
</p>

<p>
  <strong><%= t('general.rating')%>:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong><%= t('general.track') %>:</strong>
  <%= @review.track %>
</p>

<%= link_to t('general.edit') , edit_review_path(@review) %>
<%= link_to t('general.back'), tracks_path %>
