<!DOCTYPE html>
<html>
  <head>
    <title><%= t 'app_title' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Music Collection</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded = "false" aria-label="Toggle navigation">
  			<span class="navbar-toggler-icon"></span>
  		</button>
  		<div id="main-navbar" class="collapse navbar-collapse">
  			<ul class="navbar-nav mr-auto">
  				<li class="navbar-item"> <%= link_to t('home_tab'), root_path, class: "nav-link" %> </li>
          <li class="navbar-item"> <%= link_to t('contact_tab'), contact_path, class: "nav-link" %> </li>
  			</ul>
  		</div>
  	</nav>
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, id: '#{key}', class: "alert alert-primary"  unless value.blank? %>
      <% end %>

      <%= yield %>
    </div>

    <footer class="page-footer font-small">
      <hr>
      <p class="footer-copyright text-center py-3">Created by Rafael Koullouros</p>
    </footer>
  </body>
</html>
